.container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  text-align: center;
  padding: 30px;
  border-radius: 20px;
  background-color: #eee8e8;
  border: black solid 3px;
  box-shadow: 0 0 25px 2px #c8c8c8;
}
